<div class="row">
	<div class="col-md-12 small">
        <form method="post" role="form" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3" for="clientId"></label>
          <div class="col-sm-9">
            <h2 class="center-block ">
                <%=job.title%>
            </h2>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Created On:</label>
          <div class="col-sm-9">
                 <%= moment(job.created_on).format('DD/MM/YYYY HH:mm')%>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Address:</label>
          <div class="col-sm-9">
                 <%= job.address%> [<%=job.location[0]%>, <%=job.location[1]%>]
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Service:</label>
          <div class="col-sm-9">
                 <%= job.service.name%>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">User:</label>
          <div class="col-sm-9">
                 Name: <%= job.user.name%><br/>
                 Mobile: <%= job.user.mobile%><br/>
                 Email: <%= job.user.email%>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Device:</label>
          <div class="col-sm-9">
                 <%= job.device.deviceid%> [ <%=job.device.clientid%>]
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Status:</label>
          <div class="col-sm-9">
                 <%= job.status%>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Files:</label>
          <div class="col-sm-9">
                 <% for (j=0; j<job.files.length; j++) { %>
                     <a href="<%=job.files[j].url%>"><%=job.files[j].type%></a>
                 <% } %>    
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Proposals:</label>
          <div class="col-sm-9">
                <% if (job.proposals.length>0){ %>
                    <table>
                    <% for (j=0; j<job.proposals.length; j++) { 
                        if (job.proposals[j].state == 'viewed') { %>
                            <tr> <td><div class="btn-info">
                        <% } else if (job.proposals[j].state == 'interested') { %>
                            <div class="btn-success">
                        <% } else if (job.proposals[j].state == 'notviewed') { %>
                            <div class="btn-warning">
                        <% } else if (job.proposals[j].state == 'declined') { %>
                            <div class="btn-danger">
                        <% } else { %>
                            <div class="btn-warning">
                        <% } %>
                        <%  if (typeof job.proposals[j].supplierservice != 'undefined' && job.proposals[j].supplierservice != null) { %>
                            <%=job.proposals[j].supplierservice.supplier.company%> 
                            [<%=job.proposals[j].supplierservice.supplier.address%>,
                             Email: <%=job.proposals[j].supplierservice.supplier.email%>, 
                             Mobile: <%=job.proposals[j].supplierservice.supplier.mobile%>]
                        <% } %>
                        </div></td></tr>
                <%  } %>
                    </table>
                <% } else { %>
                    No Proposals
                <% } %>    
          </div>
        </div>
    </form>
    </div>
</div>
