<!-- <PRE>
    <%=JSON.stringify(jobs, null, 4)%>
</PRE> -->
<div class="row">
	<div class="col-md-12">
        <table class="table table-bordered table-striped small">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Requirments</th>
                <th>Files</th>
                <th>Proposals</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
        <%  if (typeof jobs != 'undefined' && jobs.length>0) {
                for (i=0; i<jobs.length; i++){ %>
              <tr>
                <td><%=jobs[i].title %><br/><%=jobs[i].device.deviceid%></td>
                <td><%=moment(jobs[i].created_on).format('DD/MM/YYYY HH:mm') %></td>
                <td><%=jobs[i].requirements %></td>
                <td>
                    <% for (j=0; j<jobs[i].files.length; j++) { %>
                        <a href="<%=jobs[i].files[j].url%>"><%=jobs[i].files[j].type%></a>
                    <% } %>    
                </td>
                <td><%=jobs[i].proposals.length %> Proposals</td>
                <td><a class="btn btn-success" href="/admin/jobs/view?id=<%=jobs[i]._id %>">View</a>
                    <a class="btn btn-danger" href="/admin/jobs/delete?id=<%=jobs[i]._id %>">Delete</a></td>
              </tr>
                
        <%      }
            } else { %> 
              <tr>
                  <td colspan=4>No Jobs found ...</td>
              </tr>
        <%  } %>
            </tbody>
        </table>
    </div>
</div>


