<%
%>
<div class="row">
	<div class="col-md-12">
        <form class="form-inline">
            <div class="form-group col-sm-8" style="margin-bottom: 10px;">            
                  <select class="form-control" id="service" name="service">
                      <option value="">Select Service</options>
                      <% if (typeof services != 'undefined') { 
                             for(var i=0; i<services.length; i++) { 
                                 if (service.toString() == services[i]._id) { %>
                                     <option value="<%=services[i]._id%>" selected><%=services[i].name %></option>
                             <%  } else { %>
                                     <option value="<%=services[i]._id%>"><%=services[i].name %></option>
                             <%  }
                             }
                         } %>
                  </select>
            </div>
          <div class="form-group col-sm-8" style="margin-bottom: 10px;">
            <input type="text" class="form-control" id="name" name="name" placeholder="Search By Name" value="<%=name%>">
          </div>
        <div class="form-group col-sm-4">        
          <div class="col-sm-4s">
            <button type="submit" name="search" class="btn btn-primary" value="search">Search</button>
            <a class="btn btn-danger" href="/admin/suppliers/searchreset">Reset Search</a>
          </div>
        </div>
        </form>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Services</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
        <%  if (typeof suppliers != 'undefined' && suppliers.length>0) {
                for (i=0; i<suppliers.length; i++){ %>
              <tr>
                <td><%=suppliers[i].company %></td>
                <td><% if (suppliers[i].postcode){ suppliers[i].postcode + '<br/>'} %>
                    <%=suppliers[i].address %></td>
                <td><%=suppliers[i].mobile%>
                    <% if (suppliers[i].mobile && suppliers[i].email) { %>
                        <br/>
                    <%}%>
                    <%=suppliers[i].email%></td>
                <%  if (typeof suppliers[i].services != 'undefined' && suppliers[i].services.length>0) { %>
                        <td><%=suppliers[i].services.length%> Services </td>
                <%    } else { %> 
                        <td>No Services Selected</td>
                <%  } %>
                <td><a class="btn btn-primary" href="/admin/suppliers/services?id=<%=suppliers[i]._id %>">Services</a>
                    <a class="btn btn-success" href="/admin/suppliers/add?id=<%=suppliers[i]._id %>">Edit</a>
                    <a class="btn btn-danger" href="/admin/suppliers/delete?id=<%=suppliers[i]._id %>">Delete</a></td>
              </tr>
                
        <%      }
            } else { %> 
              <tr>
                  <td colspan=5>No Suppliers found ...</td>
              </tr>
        <%  } %>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
        <a class="btn btn-primary" href="/admin/suppliers/add">Create New Supplier</a>
    </div>
</div>


