<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><%=company%></div>
            <div class="panel-body">
              <ul class="list-group list-group-flush">
                <% if (address) { %> 
                    <li class="list-group-item card-text"><%=address%></li>
                <%}%>
                <% if (postcode) { %> 
                    <li class="list-group-item">Postcode: <%=postcode%></li>
                <%}%>
              </ul>
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Contact Details</div>
            <div class="panel-body">
              <ul class="list-group list-group-flush">
                <% if (mobile) { %> 
                    <li class="list-group-item">Mobile: <%=mobile%></li>
                <%}%>
                <% if (email) { %> 
                    <li class="list-group-item">Email: <%=email%></li>
                <%}%>
              </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Service</th>
                <th>Address</th>
                <th>Radius</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
        <%  if (typeof services != 'undefined' && services.length>0) {
                for (i=0; i<services.length; i++){ %>
              <tr>
                <td><%=services[i].service.name %></td>
                <td>
                    <% if (services[i].address) { services[i].address +'<br/>'} %>
                    <% if (services[i].postcode) { services[i].postcode +'<br/>'} %>
                    <%=services[i].location[0]%>, <%=services[i].location[1]%>
                </td>
                <td><%=services[i].radius + ' ' + services[i].unit%></td>
                <% if (services[i].enabled) {%>
                    <td style="text-transform: capitalize; color: green;">
                        Enabled [ <%=services[i].state %> ]
                    </td>
                <% } else { %>
                    <td style="text-transform: capitalize;color: red;">
                        Disabled 
                    </td>
                <% } %>
                <td><a class="btn btn-success" href="/admin/suppliers/services/add?supplierid=<%=id%>&id=<%=services[i]._id %>">Edit</a>
                    <a class="btn btn-danger" href="/admin/suppliers/services/delete?supplierid=<%=id%>&id=<%=services[i]._id %>">Delete</a></td>
              </tr>
                
        <%      }
            } else { %> 
              <tr>
                  <td colspan=4>No Services subscribed ...</td>
              </tr>
        <%  } %>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
        <a class="btn btn-primary" href="/admin/suppliers/services/add?supplierid=<%=id%>">Subscribe New Service</a>
        <a class="btn btn-danger" href="/admin/suppliers">Cancel</a>
    </div>
</div>

